@import '../../../vendor/filament/filament/resources/css/app.css';

@layer base {
    * {
        direction: rtl;
    }

    @font-face {
        font-family: 'dana';
        src: url("@/../fonts/DanaVF.woff") format("woff-variations"),
        url("@/../fonts/DanaVF.woff2") format("woff2-variations");
        font-display: fallback;
    }
}
@layer utilities {
    .font-hairline {
        font-variation-settings: 'wght' 10;

    }

    .font-thin {
        font-variation-settings: 'wght' 100;

    }

    .font-extralight {
        font-variation-settings: 'wght' 200;

    }

    .font-light {

        font-variation-settings: 'wght' 300;
    }

    .font-normal {

        font-variation-settings: 'wght' 400;
    }

    .font-medium {

        font-variation-settings: 'wght' 500;
    }

    .font-semibold {

        font-variation-settings: 'wght' 600;
    }

    .font-bold {

        font-variation-settings: 'wght' 700;
    }

    .font-extrabold {

        font-variation-settings: 'wght' 800;
    }

    .font-black {

        font-variation-settings: 'wght' 900;
    }

    .font-extrablack {
        font-variation-settings: 'wght' 930;
    }

    .font-heavy {
        font-variation-settings: 'wght' 960;
    }

    .font-fat {
        font-variation-settings: 'wght' 990;
    }
}

.filepond--root * {
    direction: ltr !important;
}

.clockwork-toolbar, .clockwork-toolbar * {
    direction: ltr !important;
}
